<div id="content">
    <div class="container">
        <h1><%=title%></h1>
        <h1><%=message%></h1>
        <h1>검색 건수 <%=total%></h1>
        <h1>검색 시간 <%=took%> 초</h1>


        <table border="1">

                <% for(var i=0; i<contents.length; i++) {%>
                    <tr>
                        <td><img src=" http://www.google.com/s2/favicons?domain=<%= contents[i].host %>"><%= contents[i].host %></td>
                        <td><%= contents[i].id %></td>
                        <td><%= contents[i].host %></td>
                        <td><%= contents[i].title %></td>
                        <td><%= contents[i].url %></td>
                        <td><%= contents[i].content %></td>
                  </tr>
                <% } %>
        </table>


    </div>
</div>
