<div id="content">
    <div class="container">
        <h1><%=title%></h1>
        <h1><%=message%></h1>



        <table border="1">

                <% for(var i=0; i<contents.length; i++) {%>
                    <tr>
                        <td><%= contents[i].id %></td>
                        <td><%= contents[i].host %></td>
                        <td><%= contents[i].title %></td>
                        <td><%= contents[i].url %></td>


                  </tr>
                <% } %>
        </table>


    </div>
</div>
