<div id="content">
    <div class="container">
        <h1><%=title%></h1>
        <h1><%=message%></h1>
        <h1>검색 건수 <%=total%></h1>
        <h1>검색 시간 <%=took%> 초</h1>


        <table border="1">

                <% for(var i=0; i<contents.length; i++) {%>
                    <tr>
                        <td><%= contents[i].fields.id %></td>
                        <td><%= contents[i].fields.host %></td>
                        <td><%= contents[i].fields.title %></td>
                        <td><%= contents[i].fields.url %></td>
                        <td><%= contents[i].highlight.content %></td>
                  </tr>
                <% } %>
        </table>


    </div>
</div>
